<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/css/about.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Обо мне</title>
</head>
<body>
    <div align="center">
        <h1><span>Моя страничка</span></h1>
        <h2 id="name">Тарасьян Михаил Георгиевич</h2>
    </div>
    <div align="right">
        <img src="../public/source/my_photo0.jpg" class="image" id="photo" alt="my_photo"><br>
        <button class="photo-button" type="button">Следующее фото</button>
    </div>
    <div>
        <ul>
            <li>19 лет</li>
            <li>3 курс</li>
            <li>Козерог</li>
            <li>Родной город - Казань</li>
            <li>Любимый фильм - Властелин колец</li>
            <li>Закончила художественную школу</li>
        </ul>
    </div>
    <div id="languages" hidden>
        <table>
            <tr>
                <td>Область применения</td>
                <td>Языки которые я знаю</td>
            </tr>
            <tr>
                <td>Web</td>
                <td>html, css, js, python</td>
            </tr>
            <tr>
                <td>Прикладное программирование</td>
                <td>C, C++, C#, Java, Python</td>
            </tr>
            <tr>
                <td>Базы данных</td>
                <td>SQL</td>
            </tr>
        </table>
    </div>
    <button class="languages-button" type="button">Языки</button><br>
    <button class="lab2-button" type="button">Лаба №2</button>
</body>
    <script src="../public/js/about.js"></script>
</html>