<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/css/math.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Лаб2</title>
</head>
<body>
    <h1>Лабораторная работа №2</h1>
    <div>
            <label for="word">Введите слово</label>
            <input type="text" id="word" value="">
            <button id="getWord">Получить слово обратно</button>
            <p id="result1">Ваше слово: </p>
    </div>
    <div>
            <label>Введите числа</label>
            <input type="number" id="num1" value="">
            <input type="number" id="num2" value="">
            <button id="getSum">Сумма</button>
            <p id="result2">Сумма: </p>
    </div>
    <div>
            <label>Введите числа через пробел</label>
            <input type="text" id="arr" value="">
            <button id="getSquare">Возвести в квадрат</button>
            <p id="result3">Новый массив: </p>
    </div>
    <button class="about-button" type="button">Вернуться назад</button>
</body>
    <script src="../public/js/math.js"></script>
</html>