html {
    font-family: "Times New Roman", serif;
    font-size: 20px;
    margin-left: 40%;
}

body {
    padding: 40px;
    background: #83c9e5;
}
.input-group {
    width: 15%;
    text-align:left;
}
.input-group.mb-3 {
    width: 35%;
    text-align:left;
}