html {
    font-family: "Times New Roman", serif;
    font-size: 20px;
}
body {
    padding: 40px;
    background: #4d6441 url("/public/source/фон2.jpg") fixed;
    background-size: cover;
}
span {background: #4d6441;}
ul {
    padding: 5px;
    margin-right: 160px;
    margin-left: 160px;
    list-style-type: none; /* Убираем маркеры */
    background: #4d6441;
    width: 650px;
}
.about-button {
    background: #346703;font-size: 20px; margin-left: 160px;
}
.about-button:hover {
    background: #20320e
}
.about-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #6d884d
}
.math {background: #6d8517;font-size: 20px;}
.math:hover { background: #223700;}
.math:focus {outline: none;
    box-shadow: 0 0 0 4px #dcffb9;}